// Typography

$ajc-sans:  			arial, sans;
$ajc-body:       		"minion-pro"; //Typekit
$ajc-heading: 			"butlerregular"; 
$ajc-heading-light: 	"butler_ultra_light"; 
$ajc-subheading:  		SackersGothicStd-Heavy;

// Colors

$ajc-blue:         		#4f669a;
$ajc-blue-light: 		#3B61D1;
$ajc-blue-lighter: 		#F0F3FA;

$ajc_lighter_grey:		#f9f9f9;
$ajc_light_grey: 		#ddd;

$ajc_light_red: 		#ffcccc;
$ajc_dark_red: 			#f5303e;

$grey-dark:          	#222;
$grey-med:           	#555;
$grey-light:            #eee;